<aside class="hextra-sidebar-container hx:flex hx:flex-col hx:print:hidden hx:w-full hx:md:w-64 hx:md:shrink-0 hx:md:self-start hx:p-4 hx:md:p-0 hx:md:py-4 hx:md:sticky hx:md:top-16">
  <div class="hx:flex hx:flex-col hx:gap-4 hx:items-center hx:md:items-start hx:text-center hx:md:text-left">
    <img src="/BAO.jpg" width="200" height="200" alt="Bowen Bao" class="hx:rounded-full hx:object-cover">
    <div>
      <h1 class="hx:text-3xl hx:font-bold hx:tracking-tighter">Bowen Bao<br>(包博文)</h1>
      <p class="hx:text-lg hx:text-gray-600 hx:dark:text-gray-400 hx:mt-2">Undergraduate student, BME, ZJU</p>
    </div>
    <div class="hx:flex hx:flex-col hx:gap-2 hx:text-gray-600 hx:dark:text-gray-400">
      <div class="hx:flex hx:items-center hx:gap-2 hx:justify-center hx:md:justify-start">
        <span class="hx:inline-block hx:align-text-bottom hextra-icon">
          {{ partial "utils/icon.html" (dict "name" "location-marker" "attributes" "height=1em") }}
        </span>
        <span>Hangzhou, China</span>
      </div>
      <div class="hx:flex hx:items-center hx:gap-2 hx:justify-center hx:md:justify-start">
        <span class="hx:inline-block hx:align-text-bottom hextra-icon">
          {{ partial "utils/icon.html" (dict "name" "academic-cap" "attributes" "height=1em") }}
        </span>
        <span>Zhejiang University</span>
      </div>
      <div class="hx:flex hx:items-center hx:gap-2 hx:justify-center hx:md:justify-start">
        <span class="hx:inline-block hx:align-text-bottom hextra-icon">
          {{ partial "utils/icon.html" (dict "name" "at-symbol" "attributes" "height=1em") }}
        </span>
        <a href="mailto:baobowen@zju.edu.cn" class="hx:hover:text-primary-600">baobowen@zju.edu.cn</a>
      </div>
      <div class="hx:flex hx:items-center hx:gap-2 hx:justify-center hx:md:justify-start">
        <span class="hx:inline-block hx:align-text-bottom hextra-icon">
          {{ partial "utils/icon.html" (dict "name" "github" "attributes" "height=1em") }}
        </span>
        <a href="https://github.com/Bubblevan" class="hx:hover:text-primary-600">Bubblevan</a>
      </div>
    </div>
  </div>
</aside>
